<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!--电影首页-->
<div th:fragment="detail">
    <div class="data_list">
        <div class="data_list_title">
            <img src="../../static/images/view_icon.png" th:src="@{/static/images/view_icon.png}" alt="电影详情信息">
            电影详情信息
        </div>

        <div>
            <div class="film_title">
                <h3><strong th:text="${movie.title}"></strong></h3>
            </div>
        </div>
        <div class="film_publishDate">
            发布时间：<font th:text="${#dates.format(movie.publishDate, 'yyyy-MM-dd HH:mm:ss')}"></font>
        </div>
        <div class="film_content" th:utext="${movie.content}"></div>
        <div class="film_last_and_next_page" th:utext="${pageCode}"></div>
    </div>

    <div class="data_list">
        <div class="data_list_title">
            <img src="../../static/images/list_icon.png" th:src="@{/static/images/list_icon.png}" alt="电影网站动态信息">
            电影网站动态信息列表
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>发布日期</th>
                        <th>动态信息</th>
                        <th>来源于</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="detail,stat : ${movieDetailList}">
                        <td scope="row" th:text="${stat.index + 1}"></td>
                        <td th:text="${#dates.format(detail.publishDate, 'yyyy-MM-dd')}"></td>
                        <td>
                            <a th:href="${detail.url}" th:text="${detail.info}" th:title="${detail.info}" target="_blank"></a>
                        </td>
                        <td>
                            <a th:href="${detail.url}" th:text="${detail.websiteName}" th:title="${detail.websiteName}" target="_blank"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="data_list">
        <div class="data_list_title">
            <img src="../../static/images/guess_icon.png" th:src="@{/static/images/guess_icon.png}" alt="猜你喜欢">
            猜你喜欢
        </div>

        <div class="datas rImageDatas">
            <ul class="imageUl">
                <li class="imageLi" th:each="movie : ${randomMovieList}">
                    <a th:href="|/movie/${movie.id}|" target="_blank" th:title="${movie.name}">
                        <img class="indexMovie" th:src="|/static/movieImage/${movie.imageName}|" alt="">
                        <p th:text="${movie.name}"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>