body {
    padding-top: 10px;
    padding-bottom: 40px;
}

.data_list {
    border: 1px solid #e5e5e5;
    padding: 10px;
    background-color: #fdfdfd;
    margin-top: 0;
    margin-bottom: 10px;
}

.data_list .data_list_title {
    font-size: 15px;
    font-weight: bold;

    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.data_list .data_list_title img {
    margin-top: 1px;
    vertical-align: top;
}

.data_list .datas {
    padding: 5px;
}

.data_list .datas ul {
    list-style-type: none;
    padding-left: 15px;
}

.data_list .datas ul li {
    margin-top: 10px;
}