<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} + '-倾心电影网'"></title>
    <link href="../static/bootstrap3/css/bootstrap.min.css" th:href="@{/static/bootstrap3/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/bootstrap3/css/bootstrap-theme.min.css" th:href="@{/static/bootstrap3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/film.css" th:href="@{/static/css/film.css}" rel="stylesheet" type="text/css"/>
    <script src="../static/bootstrap3/js/jquery-1.11.2.min.js" th:src="@{../static/bootstrap3/js/jquery-1.11.2.min.js}"></script>
    <script src="../static/bootstrap3/js/bootstrap.min.js" th:src="@{../static/bootstrap3/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
            /*<![CDATA[*/
            window.onload = function () {
                var err = [[${error}]];
                if (err) {
                    alert(err);
                }
            }
            /*]]*/
    </script>
</head>
<body>

<div class="container">
    <div class="row">
        <div th:include="/common/header::header"></div>
    </div>
    <div class="row">
        <div th:include="/common/menu::menu"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div th:include="${mainPage}::${fragment}"></div>
        </div>

        <div class="col-md-4">
            <!--数据列表-->
            <div class="data_list">
                <div class="data_list_title">
                    <img src="../static/images/dynamic_icon.png" th:src="@{/static/images/dynamic_icon.png}" alt="最新电影动态">
                    最新电影动态
                </div>
                <div class="datas">
                    <ul>
                        <li th:each="detail : ${newestDetailList}">
                            <span>
                                <a th:href="|/movie/${detail.movieId}|" target="_blank"
                                    th:title="${detail.websiteName} + '  ' + ${detail.info}"
                                    th:text="${detail.websiteName} + '  ' + ${detail.info}">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="data_list">
                <div class="data_list_title">
                    <img src="../static/images/hot_icon.png" th:src="@{/static/images/hot_icon.png}" alt="最新热门电影推荐">
                    最新热门电影推荐
                </div>
                <div class="datas">
                    <ul>
                        <li th:each="movie : ${hotMovieList}">
                            <span>
                                <a th:href="|/movie/${movie.id}|" target="_blank"
                                   th:title="${movie.name}"
                                   th:text="${movie.name}">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="data_list">
                <div class="data_list_title">
                    <img src="../static/images/website_icon.png" th:src="@{/static/images/website_icon.png}" alt="最新电影网址收录">
                    最新电影网址收录
                </div>
                <div class="datas">
                    <ul>
                        <li th:each="website : ${newestWebSiteList}">
                            <span>
                                <a th:href="${website.url}" target="_blank"
                                   th:title="${website.name}"
                                   th:text="${website.name}">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="data_list">
                <div class="data_list_title">
                    <img src="../static/images/film_icon.png" th:src="@{/static/images/film_icon.png}" alt="最新电影收录">
                    最新电影收录
                </div>
                <div class="datas">
                    <ul>
                        <li th:each="movie : ${newestMovieList}">
                            <span>
                                <a th:href="|/movie/${movie.id}|" target="_blank"
                                   th:title="${movie.name}"
                                   th:text="${movie.name}">
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="data_list">
                <div class="data_list_title">
                    <img src="../static/images/link_icon.png" th:src="@{/static/images/link_icon.png}" alt="友情链接">
                    友情链接
                </div>
                <div class="datas">
                    <ul>
                        <li><span><a href="">流浪地球</a></span></li>
                        <li><span><a href="">战狼2</a></span></li>
                        <li><span><a href="">怦然心动</a></span></li>
                        <li><span><a href="">飞驰人生</a></span></li>
                        <li><span><a href="">白蛇传：缘起</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div th:replace="/common/footer::footer"></div>
    </div>
</div>

</body>
</html>